#modal-wrapper.type-drw #modal-header {
  color: #0E1012;
}
#modal-wrapper.type-drw #modal-body::-webkit-scrollbar {
  width: 5px;
}
#modal-wrapper.type-drw #modal-body::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px;
  background-color: #F5F7F9;
}
#modal-wrapper.type-drw #modal-footer {
  border-top: 1px solid #F5F7F9;
}
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary {
  border-radius: 4px;
}
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary {
  background-color: #002855;
  color: #fff;
}
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary {
  margin-right: 8px;
  color: #002855;
}
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerTertiary {
  margin-right: 8px;
  background-color: #002855;
  color: #fff;
  border-radius: 4px;
}
#modal-wrapper.type-drw #modal-close {
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M12%201.05L10.95%200L6%204.95L1.05%200L0%201.05L4.95%206L0%2010.95L1.05%2012L6%207.05L10.95%2012L12%2010.95L7.05%206L12%201.05Z%22%20fill%3D%22%23232941%22%2F%3E%20%3C%2Fsvg%3E%20");
  background-color: #fff;
  opacity: 0;
  -moz-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  -o-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  -webkit-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  transition: transform 0.25s ease, opacity 0.3s 0.2s;
}
#modal-wrapper.type-drw #modal-close:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  #modal-wrapper.type-drw #modal-header {
    height: 76px;
    padding: 0 70px 0 20px;
    border-bottom: 1px solid #F5F7F9;
    line-height: 22px !important;
  }
  #modal-wrapper.type-drw #modal-header h1, #modal-wrapper.type-drw #modal-header h2, #modal-wrapper.type-drw #modal-header h3, #modal-wrapper.type-drw #modal-header h4, #modal-wrapper.type-drw #modal-header h5, #modal-wrapper.type-drw #modal-header h6 {
    font-weight: 600 !important;
    font-size: 18px !important;
    letter-spacing: -0.005em !important;
  }
  #modal-wrapper.type-drw #modal-body {
    padding: 0 20px;
    margin: 20px 0;
  }
  #modal-wrapper.type-drw #modal-footer {
    height: 100px;
    padding: 16px 20px 36px 20px;
    border-top: 1px solid #F5F7F9;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerTertiary {
    height: 48px;
    line-height: 17px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary {
    flex: 1;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary {
    width: 33%;
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-close {
    top: 20px;
    right: 20px;
    bottom: auto;
    left: auto;
    width: 40px;
    height: 40px;
    background-color: #002855;
  }
}
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
@media all and (min-width: 768px) and (max-width: 1299px) {
  #modal-wrapper.type-drw #modal-header {
    height: 109px;
    padding: 0 40px;
    line-height: 29px !important;
  }
  #modal-wrapper.type-drw #modal-header h1, #modal-wrapper.type-drw #modal-header h2, #modal-wrapper.type-drw #modal-header h3, #modal-wrapper.type-drw #modal-header h4, #modal-wrapper.type-drw #modal-header h5, #modal-wrapper.type-drw #modal-header h6 {
    font-weight: 600 !important;
    font-size: 24px !important;
    letter-spacing: -0.005em !important;
  }
  #modal-wrapper.type-drw #modal-body {
    padding: 0 30px 0 40px;
    margin: 0 10px 40px 0;
  }
  #modal-wrapper.type-drw #modal-footer {
    height: 82px;
    padding: 0 40px;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerTertiary {
    height: 42px;
    padding: 0 24px;
    line-height: 16px;
    font-weight: 500;
    font-size: 13px;
    transition: background-color 0.3s;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary {
    color: #fff;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary:hover {
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary {
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary:hover {
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-close {
    width: 40px;
    height: 40px;
  }
  #modal-wrapper.type-drw.dir-r2l #modal-close, #modal-wrapper.type-drw.dir-sm1-r2l #modal-close, #modal-wrapper.type-drw.dir-sm2-r2l #modal-close {
    top: 35px;
    right: auto;
    bottom: auto;
    right: 40px;
  }
  #modal-wrapper.type-drw.dir-l2r #modal-close, #modal-wrapper.type-drw.dir-sm1-l2r #modal-close, #modal-wrapper.type-drw.dir-sm2-l2r #modal-close {
    top: 32px;
    right: -68px;
    bottom: auto;
    left: auto;
  }
}
/* SM1 */
/* SM2 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1300px) {
  #modal-wrapper.type-drw #modal-header {
    height: 109px;
    padding: 0 40px;
    line-height: 29px;
  }
  #modal-wrapper.type-drw #modal-header h1, #modal-wrapper.type-drw #modal-header h2, #modal-wrapper.type-drw #modal-header h3, #modal-wrapper.type-drw #modal-header h4, #modal-wrapper.type-drw #modal-header h5, #modal-wrapper.type-drw #modal-header h6 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.005em;
  }
  #modal-wrapper.type-drw #modal-body {
    padding: 0 40px 0 40px;
    margin: 0 0 40px 0;
  }
  #modal-wrapper.type-drw #modal-footer {
    height: 82px;
    padding: 0 40px;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerTertiary {
    height: 42px;
    padding: 0 24px;
    line-height: 16px;
    font-weight: 500;
    font-size: 13px;
    transition: background-color 0.3s;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary:hover {
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary {
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary:hover {
    background-color: #002855;
  }
  #modal-wrapper.type-drw #modal-close {
    width: 40px;
    height: 40px;
  }
  #modal-wrapper.type-drw.dir-r2l #modal-close, #modal-wrapper.type-drw.dir-md-r2l #modal-close, #modal-wrapper.type-drw.dir-lg-r2l #modal-close {
    top: 35px;
    right: auto;
    bottom: auto;
    right: 40px;
  }
  #modal-wrapper.type-drw.dir-l2r #modal-close, #modal-wrapper.type-drw.dir-md-l2r #modal-close, #modal-wrapper.type-drw.dir-lg-l2r #modal-close {
    top: 32px;
    right: -68px;
    bottom: auto;
    left: auto;
  }
}
/* MD */
/* LG */
#modal-wrapper.type-drw {
  position: fixed;
  z-index: 1000;
  visibility: hidden;
  background-color: #fff;
}
#modal-wrapper.type-drw.size-lg {
  -moz-transition: visibility 0s 0.6s, transform 0.6s ease-in-out;
  -o-transition: visibility 0s 0.6s, transform 0.6s ease-in-out;
  -webkit-transition: visibility 0s 0.6s, transform 0.6s ease-in-out;
  transition: visibility 0s 0.6s, transform 0.6s ease-in-out;
}
#modal-wrapper.type-drw.size-sm {
  -moz-transition: visibility 0s 0.45s, transform 0.45s ease-in-out;
  -o-transition: visibility 0s 0.45s, transform 0.45s ease-in-out;
  -webkit-transition: visibility 0s 0.45s, transform 0.45s ease-in-out;
  transition: visibility 0s 0.45s, transform 0.45s ease-in-out;
}
#modal-wrapper.type-drw.dir-t2b {
  top: auto;
  right: 0;
  bottom: 100%;
  left: 0;
}
#modal-wrapper.type-drw.dir-r2l {
  top: 0;
  right: auto;
  bottom: 0;
  left: 100%;
}
#modal-wrapper.type-drw.dir-b2t {
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
}
#modal-wrapper.type-drw.dir-l2r {
  top: 0;
  right: 100%;
  bottom: 0;
  left: auto;
}
#modal-wrapper.type-drw #modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#modal-wrapper.type-drw #modal-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#modal-wrapper.type-drw #modal-body {
  flex: 1;
  overflow-y: auto;
}
#modal-wrapper.type-drw #modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerPrimary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerSecondary,
#modal-wrapper.type-drw #modal-footer .lnkBtnDrawerTertiary {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-wrapper.type-drw #modal-close {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F5F7F9;
  opacity: 0;
  -moz-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  -o-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  -webkit-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  transition: transform 0.25s ease, opacity 0.3s 0.2s;
}
#modal-wrapper.type-drw #modal-close:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}
#modal-wrapper.type-drw.on {
  visibility: visible;
}
#modal-wrapper.type-drw.on.size-lg {
  -moz-transition: visibility 0s 0s, transform 0.75s ease-in-out;
  -o-transition: visibility 0s 0s, transform 0.75s ease-in-out;
  -webkit-transition: visibility 0s 0s, transform 0.75s ease-in-out;
  transition: visibility 0s 0s, transform 0.75s ease-in-out;
}
#modal-wrapper.type-drw.on.size-sm {
  -moz-transition: visibility 0s 0s, transform 0.65s ease-in-out;
  -o-transition: visibility 0s 0s, transform 0.65s ease-in-out;
  -webkit-transition: visibility 0s 0s, transform 0.65s ease-in-out;
  transition: visibility 0s 0s, transform 0.65s ease-in-out;
}
#modal-wrapper.type-drw.on.size-md {
  -moz-transition: visibility 0s 0s, transform 0.65s ease-in-out;
  -o-transition: visibility 0s 0s, transform 0.65s ease-in-out;
  -webkit-transition: visibility 0s 0s, transform 0.65s ease-in-out;
  transition: visibility 0s 0s, transform 0.65s ease-in-out;
}
#modal-wrapper.type-drw.on.dir-t2b {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
#modal-wrapper.type-drw.on.dir-r2l {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
#modal-wrapper.type-drw.on.dir-b2t {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#modal-wrapper.type-drw.on.dir-l2r {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
#modal-wrapper.type-drw.on #modal-close {
  opacity: 1;
  -moz-transition: transform 0.25s ease, opacity 0.3s 0s;
  -o-transition: transform 0.25s ease, opacity 0.3s 0s;
  -webkit-transition: transform 0.25s ease, opacity 0.3s 0s;
  transition: transform 0.25s ease, opacity 0.3s 0s;
}

/* Common XS1 and XS2 */
/* XS1 */
@media all and (max-width: 419px) {
  #modal-wrapper.type-drw.dir-r2l.size-lg, #modal-wrapper.type-drw.dir-l2r.size-lg {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-r2l.size-sm, #modal-wrapper.type-drw.dir-l2r.size-sm {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-t2b.size-lg, #modal-wrapper.type-drw.dir-b2t.size-lg {
    width: auto;
    height: 50%;
  }
  #modal-wrapper.type-drw.dir-t2b.size-sm, #modal-wrapper.type-drw.dir-b2t.size-sm {
    width: auto;
    height: 35%;
  }
  #modal-wrapper.type-drw.dir-xs1-r2l.size-lg, #modal-wrapper.type-drw.dir-xs1-l2r.size-lg {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-xs1-r2l.size-sm, #modal-wrapper.type-drw.dir-xs1-l2r.size-sm {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-xs1-t2b.size-lg, #modal-wrapper.type-drw.dir-xs1-b2t.size-lg {
    width: auto;
    height: 50%;
  }
  #modal-wrapper.type-drw.dir-xs1-t2b.size-sm, #modal-wrapper.type-drw.dir-xs1-b2t.size-sm {
    width: auto;
    height: 35%;
  }
  #modal-wrapper.type-drw.dir-xs1-t2b {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-xs1-r2l {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
  }
  #modal-wrapper.type-drw.dir-xs1-b2t {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-xs1-l2r {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
  }
  #modal-wrapper.type-drw.on.dir-xs1-t2b {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  #modal-wrapper.type-drw.on.dir-xs1-r2l {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #modal-wrapper.type-drw.on.dir-xs1-b2t {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #modal-wrapper.type-drw.on.dir-xs1-l2r {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* XS2 */
@media all and (min-width: 420px) and (max-width: 767px) {
  #modal-wrapper.type-drw.dir-r2l.size-lg, #modal-wrapper.type-drw.dir-l2r.size-lg {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-r2l.size-sm, #modal-wrapper.type-drw.dir-l2r.size-sm {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-t2b.size-lg, #modal-wrapper.type-drw.dir-b2t.size-lg {
    width: auto;
    height: 50%;
  }
  #modal-wrapper.type-drw.dir-t2b.size-sm, #modal-wrapper.type-drw.dir-b2t.size-sm {
    width: auto;
    height: 35%;
  }
  #modal-wrapper.type-drw.dir-xs2-r2l.size-lg, #modal-wrapper.type-drw.dir-xs2-l2r.size-lg {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-xs2-r2l.size-sm, #modal-wrapper.type-drw.dir-xs2-l2r.size-sm {
    width: 100%;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-xs2-t2b.size-lg, #modal-wrapper.type-drw.dir-xs2-b2t.size-lg {
    width: auto;
    height: 50%;
  }
  #modal-wrapper.type-drw.dir-xs2-t2b.size-sm, #modal-wrapper.type-drw.dir-xs2-b2t.size-sm {
    width: auto;
    height: 35%;
  }
  #modal-wrapper.type-drw.dir-xs2-t2b {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-xs2-r2l {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
  }
  #modal-wrapper.type-drw.dir-xs2-b2t {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-xs2-l2r {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
  }
  #modal-wrapper.type-drw.on.dir-xs2-t2b {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  #modal-wrapper.type-drw.on.dir-xs2-r2l {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #modal-wrapper.type-drw.on.dir-xs2-b2t {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #modal-wrapper.type-drw.on.dir-xs2-l2r {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* Common SM1 and SM2 */
/* SM1 */
@media all and (min-width: 768px) and (max-width: 1023px) {
  #modal-wrapper.type-drw.dir-r2l.size-lg, #modal-wrapper.type-drw.dir-l2r.size-lg {
    width: 620px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-r2l.size-sm, #modal-wrapper.type-drw.dir-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-t2b.size-lg, #modal-wrapper.type-drw.dir-b2t.size-lg {
    width: auto;
    height: 350px;
  }
  #modal-wrapper.type-drw.dir-t2b.size-sm, #modal-wrapper.type-drw.dir-b2t.size-sm {
    width: auto;
    height: 250px;
  }
  #modal-wrapper.type-drw.dir-sm1-r2l.size-lg, #modal-wrapper.type-drw.dir-sm1-l2r.size-lg {
    width: 620px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-sm1-r2l.size-sm, #modal-wrapper.type-drw.dir-sm1-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-sm1-t2b.size-lg, #modal-wrapper.type-drw.dir-sm1-b2t.size-lg {
    width: auto;
    height: 350px;
  }
  #modal-wrapper.type-drw.dir-sm1-t2b.size-sm, #modal-wrapper.type-drw.dir-sm1-b2t.size-sm {
    width: auto;
    height: 250px;
  }
  #modal-wrapper.type-drw.dir-sm1-t2b {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-sm1-r2l {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
  }
  #modal-wrapper.type-drw.dir-sm1-b2t {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-sm1-l2r {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
  }
  #modal-wrapper.type-drw.on.dir-sm1-t2b {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  #modal-wrapper.type-drw.on.dir-sm1-r2l {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #modal-wrapper.type-drw.on.dir-sm1-b2t {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #modal-wrapper.type-drw.on.dir-sm1-l2r {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* SM2 */
@media all and (min-width: 1024px) and (max-width: 1299px) {
  #modal-wrapper.type-drw.dir-r2l.size-lg, #modal-wrapper.type-drw.dir-l2r.size-lg {
    width: 620px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-r2l.size-sm, #modal-wrapper.type-drw.dir-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-t2b.size-lg, #modal-wrapper.type-drw.dir-b2t.size-lg {
    width: auto;
    height: 350px;
  }
  #modal-wrapper.type-drw.dir-t2b.size-sm, #modal-wrapper.type-drw.dir-b2t.size-sm {
    width: auto;
    height: 250px;
  }
  #modal-wrapper.type-drw.dir-sm2-r2l.size-lg, #modal-wrapper.type-drw.dir-sm2-l2r.size-lg {
    width: 620px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-sm2-r2l.size-sm, #modal-wrapper.type-drw.dir-sm2-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-sm2-t2b.size-lg, #modal-wrapper.type-drw.dir-sm2-b2t.size-lg {
    width: auto;
    height: 350px;
  }
  #modal-wrapper.type-drw.dir-sm2-t2b.size-sm, #modal-wrapper.type-drw.dir-sm2-b2t.size-sm {
    width: auto;
    height: 250px;
  }
  #modal-wrapper.type-drw.dir-sm2-t2b {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-sm2-r2l {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
  }
  #modal-wrapper.type-drw.dir-sm2-b2t {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-sm2-l2r {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
  }
  #modal-wrapper.type-drw.on.dir-sm2-t2b {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  #modal-wrapper.type-drw.on.dir-sm2-r2l {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #modal-wrapper.type-drw.on.dir-sm2-b2t {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #modal-wrapper.type-drw.on.dir-sm2-l2r {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* Common MD and LG */
/* MD */
@media all and (min-width: 1300px) and (max-width: 1679px) {
  #modal-wrapper.type-drw.dir-r2l.size-lg, #modal-wrapper.type-drw.dir-l2r.size-lg {
    width: 800px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-r2l.size-sm, #modal-wrapper.type-drw.dir-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-t2b.size-lg, #modal-wrapper.type-drw.dir-b2t.size-lg {
    width: auto;
    height: 450px;
  }
  #modal-wrapper.type-drw.dir-t2b.size-sm, #modal-wrapper.type-drw.dir-b2t.size-sm {
    width: auto;
    height: 375px;
  }
  #modal-wrapper.type-drw.dir-md-r2l.size-lg, #modal-wrapper.type-drw.dir-md-l2r.size-lg {
    width: 800px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-md-r2l.size-sm, #modal-wrapper.type-drw.dir-md-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-md-t2b.size-lg, #modal-wrapper.type-drw.dir-md-b2t.size-lg {
    width: auto;
    height: 450px;
  }
  #modal-wrapper.type-drw.dir-md-t2b.size-sm, #modal-wrapper.type-drw.dir-md-b2t.size-sm {
    width: auto;
    height: 375px;
  }
  #modal-wrapper.type-drw.dir-md-t2b {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-md-r2l {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
  }
  #modal-wrapper.type-drw.dir-md-b2t {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-md-l2r {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
  }
  #modal-wrapper.type-drw.on.dir-md-t2b {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  #modal-wrapper.type-drw.on.dir-md-r2l {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #modal-wrapper.type-drw.on.dir-md-b2t {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #modal-wrapper.type-drw.on.dir-md-l2r {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* LG */
@media all and (min-width: 1680px) {
  #modal-wrapper.type-drw.dir-r2l.size-lg, #modal-wrapper.type-drw.dir-l2r.size-lg {
    width: 800px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-r2l.size-sm, #modal-wrapper.type-drw.dir-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-t2b.size-lg, #modal-wrapper.type-drw.dir-b2t.size-lg {
    width: auto;
    height: 450px;
  }
  #modal-wrapper.type-drw.dir-t2b.size-sm, #modal-wrapper.type-drw.dir-b2t.size-sm {
    width: auto;
    height: 375px;
  }
  #modal-wrapper.type-drw.dir-lg-r2l.size-lg, #modal-wrapper.type-drw.dir-lg-l2r.size-lg {
    width: 800px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-lg-r2l.size-sm, #modal-wrapper.type-drw.dir-lg-l2r.size-sm {
    width: 480px;
    height: auto;
  }
  #modal-wrapper.type-drw.dir-lg-t2b.size-lg, #modal-wrapper.type-drw.dir-lg-b2t.size-lg {
    width: auto;
    height: 450px;
  }
  #modal-wrapper.type-drw.dir-lg-t2b.size-sm, #modal-wrapper.type-drw.dir-lg-b2t.size-sm {
    width: auto;
    height: 375px;
  }
  #modal-wrapper.type-drw.dir-lg-t2b {
    top: auto;
    right: 0;
    bottom: 100%;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-lg-r2l {
    top: 0;
    right: auto;
    bottom: 0;
    left: 100%;
  }
  #modal-wrapper.type-drw.dir-lg-b2t {
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
  }
  #modal-wrapper.type-drw.dir-lg-l2r {
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
  }
  #modal-wrapper.type-drw.on.dir-lg-t2b {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  #modal-wrapper.type-drw.on.dir-lg-r2l {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #modal-wrapper.type-drw.on.dir-lg-b2t {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  #modal-wrapper.type-drw.on.dir-lg-l2r {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/*# sourceMappingURL=Drawer.css.map */
