#hamburger-menu-wrapper,
#menu-primary,
#account-container,
#menu-socialmedia {
  display: none;
}

#menu-primary ul, #menu-primary .level-2-header, #menu-primary .submenu-ad {
  display: none;
}

#menu-primary .submenu-ad {
  top: -1000px;
}

#hamburger-menu-wrapper {
  position: fixed;
  z-index: 300;
  overflow: hidden;
}

/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  #hamburger-menu-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
  }
  #hamburger-menu-wrapper #menu-content-wrapper {
    height: 100%;
  }
  #hamburger-menu-wrapper #menu-animation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 300%;
    height: 100%;
  }
  #hamburger-menu-wrapper #menu-screen-1,
#hamburger-menu-wrapper #menu-screen-2,
#hamburger-menu-wrapper #menu-screen-3 {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #hamburger-menu-wrapper #menu-screen-1 {
    justify-content: space-between;
  }
  #hamburger-menu-wrapper #site-logo-menu {
    display: flex;
    order: 0;
    margin: 24px 0 0 20px;
    width: 96px;
    height: 57px;
  }
  #hamburger-menu-wrapper #site-logo-menu .logotype-negative {
    display: none;
  }
  #hamburger-menu-wrapper #site-logo-menu .logotype-positive {
    display: block;
  }
  #hamburger-menu-wrapper #close-button-menu {
    position: absolute;
    top: 34px;
    right: 28px;
    display: flex;
    width: 32px;
    height: 32px;
  }
  #hamburger-menu-wrapper #menu-primary {
    display: flex;
    order: 0;
    width: 100%;
  }
  #hamburger-menu-wrapper #menu-primary #submenu-animation-wrapper {
    width: 100%;
  }
  #hamburger-menu-wrapper #buttons-container-01 {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #051168;
    display: flex;
    align-items: center;
  }
  #hamburger-menu-wrapper #buttons-container-01 #search-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-right: 10px;
  }
  #hamburger-menu-wrapper #buttons-container-01 #language-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFF;
    font-size: 11px;
    color: #fdfdfe;
    font-weight: 500;
    margin-right: 15px;
  }
  #hamburger-menu-wrapper #buttons-container-01 #account-numbers-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #00a0fc;
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 15px;
  }
  #hamburger-menu-wrapper #buttons-container-01 #donation-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #f82e46;
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
  }
  #hamburger-menu-wrapper #buttons-container-01 #donation-button-menu .donate-basket, #hamburger-menu-wrapper #buttons-container-01 #donation-button-menu .basket {
    display: none;
  }
  #hamburger-menu-wrapper .ul-level-1, #hamburger-menu-wrapper .ul-level-2, #hamburger-menu-wrapper .ul-level-3 {
    display: block;
    width: 100%;
  }
  #hamburger-menu-wrapper .ul-level-1 > li:not(:last-child), #hamburger-menu-wrapper .ul-level-2 > li:not(:last-child), #hamburger-menu-wrapper .ul-level-3 > li:not(:last-child) {
    border-bottom: 1px solid #E5E8ED;
  }
  #hamburger-menu-wrapper .ul-level-1 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-2 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-3 > li.hasSubmenu {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.25%203.75L10.3562%204.62063L15.0938%209.375H2.5V10.625H15.0938L10.3562%2015.3581L11.25%2016.25L17.5%2010L11.25%203.75Z%22%20fill%3D%22%23486488%22%2F%3E%20%3C%2Fsvg%3E");
    background-position: right 8px center;
    background-repeat: no-repeat;
  }
  #hamburger-menu-wrapper .ul-level-1 > li > a, #hamburger-menu-wrapper .ul-level-2 > li > a, #hamburger-menu-wrapper .ul-level-3 > li > a {
    display: flex;
    align-items: center;
    min-height: 52px;
    padding-right: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #0A2240;
  }
  #hamburger-menu-wrapper .ul-level-1 {
    padding: 0 20px;
    margin-top: 40px;
  }
  #hamburger-menu-wrapper .ul-level-2,
#hamburger-menu-wrapper .ul-level-3 {
    display: none;
    padding: 0 20px;
    margin-top: 16px;
  }
  #hamburger-menu-wrapper .ul-level-2.on,
#hamburger-menu-wrapper .ul-level-3.on {
    display: block;
  }
  #hamburger-menu-wrapper .main-menu-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 8px 0 8px 24px;
    background-color: #F7F7FC;
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #221F44;
  }
  #hamburger-menu-wrapper .main-menu-btn:before {
    content: "";
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.8714%2011.7803L14.3411%209.31066L13.2804%208.25L9.75007%2011.7803L13.2804%2015.3107L14.3411%2014.25L11.8714%2011.7803Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20");
  }
  #hamburger-menu-wrapper .level-2-header, #hamburger-menu-wrapper .level-3-header {
    display: none;
    align-items: center;
    width: 100%;
    height: 68px;
    padding: 0 0 0 20px;
    margin-top: 24px;
    background-color: #F9F9FB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #0A2240;
  }
  #hamburger-menu-wrapper .level-2-header.on, #hamburger-menu-wrapper .level-3-header.on {
    display: flex;
  }
  #hamburger-menu-wrapper .level-2-header:before, #hamburger-menu-wrapper .level-3-header:before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M8.75%2016.25L9.63125%2015.3687L4.89375%2010.625H17.5V9.375H4.89375L9.63125%204.63125L8.75%203.75L2.5%2010L8.75%2016.25Z%22%20fill%3D%22%230A2240%22%2F%3E%20%3C%2Fsvg%3E%20");
  }
  #hamburger-menu-wrapper .level-2-screentitle, #hamburger-menu-wrapper .level-3-screentitle {
    display: none;
  }
}
/* Common SM1 and SM2 */
@media all and (min-width: 768px) and (max-width: 1299px) {
  #hamburger-menu-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 375px;
    background-color: #fff;
    transform: translateX(-100%);
  }
  #hamburger-menu-wrapper #menu-content-wrapper {
    height: 100%;
  }
  #hamburger-menu-wrapper #menu-animation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 300%;
    height: 100%;
  }
  #hamburger-menu-wrapper #menu-screen-1,
#hamburger-menu-wrapper #menu-screen-2,
#hamburger-menu-wrapper #menu-screen-3 {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #hamburger-menu-wrapper #menu-screen-1 {
    justify-content: space-between;
  }
  #hamburger-menu-wrapper #site-logo-menu {
    display: flex;
    order: 0;
    margin: 24px 0 0 20px;
    width: 96px;
    height: 57px;
  }
  #hamburger-menu-wrapper #site-logo-menu .logotype-negative {
    display: none;
  }
  #hamburger-menu-wrapper #site-logo-menu .logotype-positive {
    display: block;
  }
  #hamburger-menu-wrapper #close-button-menu {
    position: absolute;
    top: 34px;
    right: 28px;
    display: flex;
    width: 32px;
    height: 32px;
  }
  #hamburger-menu-wrapper #menu-primary {
    display: flex;
    order: 0;
    width: 100%;
  }
  #hamburger-menu-wrapper #menu-primary #submenu-animation-wrapper {
    width: 100%;
  }
  #hamburger-menu-wrapper #buttons-container-01 {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #051168;
    display: flex;
    align-items: center;
  }
  #hamburger-menu-wrapper #buttons-container-01 #search-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-right: 10px;
  }
  #hamburger-menu-wrapper #buttons-container-01 #language-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #FFF;
    font-size: 11px;
    color: #fdfdfe;
    font-weight: 500;
    margin-right: 10px;
  }
  #hamburger-menu-wrapper #buttons-container-01 #account-numbers-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #00a0fc;
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 10px;
  }
  #hamburger-menu-wrapper #buttons-container-01 #donation-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    border-radius: 10px;
    background-color: #f82e46;
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
  }
  #hamburger-menu-wrapper #buttons-container-01 #donation-button-menu .donate-basket, #hamburger-menu-wrapper #buttons-container-01 #donation-button-menu .basket {
    display: none;
  }
  #hamburger-menu-wrapper .ul-level-1, #hamburger-menu-wrapper .ul-level-2, #hamburger-menu-wrapper .ul-level-3 {
    display: block;
    width: 100%;
  }
  #hamburger-menu-wrapper .ul-level-1 > li:not(:last-child), #hamburger-menu-wrapper .ul-level-2 > li:not(:last-child), #hamburger-menu-wrapper .ul-level-3 > li:not(:last-child) {
    border-bottom: 1px solid #E5E8ED;
  }
  #hamburger-menu-wrapper .ul-level-1 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-2 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-3 > li.hasSubmenu {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.25%203.75L10.3562%204.62063L15.0938%209.375H2.5V10.625H15.0938L10.3562%2015.3581L11.25%2016.25L17.5%2010L11.25%203.75Z%22%20fill%3D%22%23486488%22%2F%3E%20%3C%2Fsvg%3E");
    background-position: right 8px center;
    background-repeat: no-repeat;
  }
  #hamburger-menu-wrapper .ul-level-1 > li > a, #hamburger-menu-wrapper .ul-level-2 > li > a, #hamburger-menu-wrapper .ul-level-3 > li > a {
    display: flex;
    align-items: center;
    min-height: 52px;
    padding-right: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #0A2240;
  }
  #hamburger-menu-wrapper .ul-level-1 {
    padding: 0 20px;
    margin-top: 40px;
  }
  #hamburger-menu-wrapper .ul-level-2,
#hamburger-menu-wrapper .ul-level-3 {
    display: none;
    padding: 0 20px;
    margin-top: 16px;
  }
  #hamburger-menu-wrapper .ul-level-2.on,
#hamburger-menu-wrapper .ul-level-3.on {
    display: block;
  }
  #hamburger-menu-wrapper .main-menu-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 8px 0 8px 24px;
    background-color: #F7F7FC;
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #221F44;
  }
  #hamburger-menu-wrapper .main-menu-btn:before {
    content: "";
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.8714%2011.7803L14.3411%209.31066L13.2804%208.25L9.75007%2011.7803L13.2804%2015.3107L14.3411%2014.25L11.8714%2011.7803Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20");
  }
  #hamburger-menu-wrapper .level-2-header, #hamburger-menu-wrapper .level-3-header {
    display: none;
    align-items: center;
    width: 100%;
    height: 68px;
    padding: 0 0 0 20px;
    margin-top: 24px;
    background-color: #F9F9FB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #0A2240;
  }
  #hamburger-menu-wrapper .level-2-header.on, #hamburger-menu-wrapper .level-3-header.on {
    display: flex;
  }
  #hamburger-menu-wrapper .level-2-header:before, #hamburger-menu-wrapper .level-3-header:before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M8.75%2016.25L9.63125%2015.3687L4.89375%2010.625H17.5V9.375H4.89375L9.63125%204.63125L8.75%203.75L2.5%2010L8.75%2016.25Z%22%20fill%3D%22%230A2240%22%2F%3E%20%3C%2Fsvg%3E%20");
  }
  #hamburger-menu-wrapper .level-2-screentitle, #hamburger-menu-wrapper .level-3-screentitle {
    display: none;
  }
}
@media all and (min-width: 1300px) {
  #menu-primary {
    height: 100%;
  }
  #menu-primary .ul-level-1 {
    display: flex;
    height: 100%;
  }
  #menu-primary .ul-level-1 > li {
    display: flex;
    align-items: flex-end;
  }
  #menu-primary .ul-level-1 > li:not(:last-child) {
    margin-right: 28px;
  }
  #menu-primary .ul-level-1 > li > a {
    padding: 0 8px;
    height: calc(100% - 8px);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #FFF;
    transition: background-color 0.2s;
  }
  #menu-primary .ul-level-1 > li:hover > a {
    background-color: #00a0fc;
  }
  #menu-primary .ul-level-1 > li.hasSubmenu > a:before {
    content: "";
    position: absolute;
    height: 6px;
    bottom: -6px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #00a0fc;
    -moz-transition: opacity 0.2s, visibility 0s 0.2s;
    -o-transition: opacity 0.2s, visibility 0s 0.2s;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
  }
  #menu-primary .ul-level-1 > li.hasSubmenu > a:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: calc(50% - 5px);
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #FFF;
    -moz-transition: opacity 0.2s, visibility 0s 0.2s;
    -o-transition: opacity 0.2s, visibility 0s 0.2s;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
  }
  #menu-primary .ul-level-1 > li.hasSubmenu.submenu_v2 .ul-level-2 {
    display: block;
  }
  #menu-primary .ul-level-1 > li.hasSubmenu:hover > a:after, #menu-primary .ul-level-1 > li.hasSubmenu:hover > a:before {
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity 0.2s, visibility 0s;
    -o-transition: opacity 0.2s, visibility 0s;
    -webkit-transition: opacity 0.2s, visibility 0s;
    transition: opacity 0.2s, visibility 0s;
  }
  #menu-primary .ul-level-1 > li.hasSubmenu:hover .ul-level-2 {
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity 0.2s, visibility 0s;
    -o-transition: opacity 0.2s, visibility 0s;
    -webkit-transition: opacity 0.2s, visibility 0s;
    transition: opacity 0.2s, visibility 0s;
  }
  #menu-primary .ul-level-1 > li.hasSubmenu:hover::after {
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity 0.2s, visibility 0s;
    -o-transition: opacity 0.2s, visibility 0s;
    -webkit-transition: opacity 0.2s, visibility 0s;
    transition: opacity 0.2s, visibility 0s;
  }
  #menu-primary .ul-level-2 {
    position: absolute;
    z-index: 1;
    top: calc(100% + 6px);
    left: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;
    width: 190px;
    background-color: #00a0fc;
    border-bottom-right-radius: 24px;
    visibility: hidden;
    opacity: 0;
    -moz-transition: opacity 0.2s, visibility 0s 0.2s;
    -o-transition: opacity 0.2s, visibility 0s 0.2s;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
  }
  #menu-primary .ul-level-2 > li {
    display: flex;
    flex-direction: column;
  }
  #menu-primary .ul-level-2 > li.mobile-parent-menu-item {
    display: none;
  }
  #menu-primary .ul-level-2 > li > a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6px 0;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    opacity: 1 !important;
    -moz-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
    background-color: transparent;
  }
  #menu-primary .ul-level-2 > li > a:hover {
    color: #00a0fc;
    background-color: #FFF;
    font-weight: 700 !important;
  }
}

/*# sourceMappingURL=Menu.css.map */
